@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$link: #7DBAE3;
$link-hover: $turquoise;
$tabs-link-color: $grey-light;
$tabs-link-hover-color: $white;
@import "~bulma/bulma";
